*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background: transparent;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 12px;
}
.sign-in-header a{
    display: inline-block;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    background-color: #E50914;
    border-radius: 8px;
    width: 60px;
    text-align: center;
    transition: all 1.2s;
}
.sign-in-header a:hover{
    background-color: #B20710;
}
body{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(Images/background.jpg);
    background-size: cover;
    width: 100%;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 37rem;
    width: 100%;
    max-width: 120rem;
}

.hero h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 125%;
    box-sizing: border-box;
    text-align: center;
}
#starts{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
#ready{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form input{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    padding: 24px;
    border-radius: 10px;
    border: none;
    color: #fff;
    outline: none;
    transition: all 1.2s;
    width: 360px;
    height: 100%;
    transition: all 1.2s;
}
.form input::placeholder{
    color: rgb(172, 172, 172);
    font-size: 16px;
}
.form input:focus{
    transform: scale(1.1);
}
.form a{
    text-decoration: none;
    color: #fff;
    background-color: #E50914;
    margin-left: 30px;
    padding: 14px;
    border-radius: 10px;
    width: 150px;
    font-size: 20px;
    height: 100%;
    font-weight: 600;
    transition: all 1.2s;
}
.form a:hover{
    background-color: #B20710;
    transform: scale(1.1);
}
@media screen and (max-width:850px) {
    .navbar{
        padding: 0;
    }
}
@media screen and (max-width:800px) {
    .form input{
        padding: 12px;
        width: 300px;
    }
    .form a{
        padding: 12px;
        font-size: 12px;
        text-align: center;
        width: fit-content;
        margin-left: 20px;
    }
}
@media screen and (max-width:655px){
    .hero h1{
        font-size: 2rem;
    }
    #ready{
        width: 400px;
        text-align: center;
    }
}
@media screen and (max-width:470px){
    .form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form a{
        margin-top: 30px;
        margin-left: 0;
    }
}
@media screen and (max-width:380px){
    .form input{
        width: 200px;
    }
    #ready{
        width: 150px;
    }
    .sign-in-header{
        display: none;
    }
    nav{
        justify-content: center;
    }
    #starts{
        width: 140px;
    }
}
